* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #03000c;
}

.s-nfts {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nft-cards {
  position: relative;
  width: 100%;
  max-width: 1216px;
  height: 426px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  position: absolute;
  top: 0;
}

.nft-01 {
  z-index: 4;
}

.nft-02 {
  z-index: 3;
}

.nft-03 {
  z-index: 2;
}

.nft-04 {
  z-index: 1;
}
